.navbar__links {
    margin-top: 2.48rem;
    margin-left: 10rem;
    display: flex;
    height: 20px;
    justify-content: space-between;
}

.navbar__button {
    margin-top: 1.8rem;
    margin-left: 19rem;
    display: flex;
    justify-content: space-between;
    /* border: none; */
    text-align: center;
}

.button {
    /* height: 2.3rem;
    width: 6.6rem;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg, #21A0B4 35%, #4933C7 100%);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer; */

    background-image: linear-gradient(to right, #21A0B4 0%, #4933C7  51%, #21A0B4  100%);
    height: 2.3rem;
    width: 6.6rem;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;   
    box-shadow: 0 0 20px #eee;
    cursor: pointer;
}


.button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    transform: scale(1.1) perspective(1px)
  }

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 12rem;
    /* margin-right: auto; */
}

.home {
    margin-right: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    transition: 0.5s;
}

.home:hover {
    font-size:16px;
    font-size-adjust: 20px;
}

.about {
    margin-right: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    transition: 0.5s;
}

.about:hover {
    font-size:16px;
    font-size-adjust: 20px;
}

.contact {
    margin-right: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    transition: 0.5s;
}

.contact:hover {
    font-size:16px;
    font-size-adjust: 20px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


@media screen and (max-width: 1366px) {
    .primary-heading {
      font-family: 'Poppins', sans-serif;
      font-size: 2.5rem;
      font-weight: 800;
      color: #000000;
      margin-top: 12rem;
      margin-left: -63rem;
      font-stretch: 50%;
    }
  
    .sketch {
      margin-top: 25.6rem;
      margin-left: -21rem;
    }

    .navbar__button {
        margin-top: 1.8rem;
        margin-left: 9rem;
        display: flex;
        justify-content: space-between;
        /* border: none; */
        text-align: center;
    }

    .navbar__links {
        margin-top: 2.48rem;
        margin-left: 5rem;
        display: flex;
        height: 20px;
        justify-content: space-between;
    }
  }
  
  @media screen and (max-width: 1080px) {
    .primary-heading {
      font-family: 'Poppins', sans-serif;
      font-size: 2.5rem;
      font-weight: 800;
      color: #000000;
      margin-top: 12rem;
      margin-left: -78rem;
      font-stretch: 50%;
    }
  
    .sketch {
      margin-top: 25.6rem;
      margin-left: -10.4rem;
    }
  }

  
  @media screen and (max-width: 967px) {
    .primary-heading {
      font-family: 'Poppins', sans-serif;
      font-size: 2.5rem;
      font-weight: 800;
      color: #000000;
      margin-top: 12rem;
      margin-left: -78rem;
      font-stretch: 50%;
    }
  
    .sketch {
      margin-top: 25.6rem;
      margin-left: -8rem;
    }
  }
  