@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 8.3rem;
  height: 3.1rem;
  margin-top: 1.5rem;
  margin-left: 6rem;
  cursor: pointer;
  transition: 0.5s;
}

.logo:hover {
  transform: scale(1.08) perspective(1px);
}

.primary-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #000000;
  margin-top: 12rem;
  margin-left: -78rem;
  /* font-stretch: 50%; */
  max-width: 33%;
}

.sketch {
  margin-top: 22rem;
  margin-left: -17.5rem;
}

@media screen and (max-width: 1366px) {
  .primary-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #000000;
    margin-top: 12rem;
    margin-left: -78rem;
    /* font-stretch: 50%; */
  }

  .sketch {
    margin-top: 25.6rem;
    margin-left: -21rem;
  }
}

@media screen and (max-width: 1080px) {
  .primary-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #000000;
    margin-top: 12rem;
    margin-left: -78rem;
    /* font-stretch: 50%; */
  }

  .sketch {
    margin-top: 25.6rem;
    margin-left: -10.4rem;
  }
}


@media screen and (max-width: 967px) {
  .primary-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #000000;
    margin-top: 12rem;
    margin-left: -78rem;
    /* font-stretch: 50%; */
  }

  .sketch {
    margin-top: 25.6rem;
    margin-left: -8rem;
  }
}

.home-button {
  background-image: linear-gradient(to right, #0abfdb 0%, #4933C7  51%, #0abfdb  100%);
  height: 3rem;
  width: 10rem;
  border: none;
  margin-left: -29.5rem;
  margin-top: 30rem;
  border-radius: 8px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  box-shadow: 0px 2px 5px -1px #333;
  cursor: pointer;
}

.home-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: scale(1.1) perspective(1px)
}

.subheading {
  margin-top: 24rem;
  margin-left: -18.6rem;
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 33%;
  line-height: 25px;
}

.learn-more {
  background-image: linear-gradient(to right, #0abfdb 0%, #4933C7  51%, #0abfdb  100%);
  margin-top: 30rem;
  margin-left: 2.6rem;
  height: 3rem;
  width: 10rem;
  position: relative;
  /* border-radius: 8px; */
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: solid 1px transparent;
  outline: none;
  box-shadow: 0px 2px 5px -1px #333;
  border-color: linear-gradient(to right, #0abfdb 0%, #4933C7  51%, #0abfdb  100%);
  background-size: 200% auto;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}

.learn-more::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: white;
  /* border-radius: 7px; */
  z-index: -1;
}

.learn-more:hover {
  background-position: right center;
  transform: scale(1.1) perspective(1px)
}

.header {
  height: 500px;
  width: 500px;
  margin-top: 8rem;
  margin-left: 24rem;
}