@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 320px;
  height: 200px;
  margin-top: -3rem;
  margin-left: -4.375rem;
}